:root {
  --container-border-color: #7c7d81;
  --container-background-color: #121213;
}

.container {
  height: 480px;
  width: 85vw;
  padding: 25px;
  max-width: 960px;
  border: 2px solid var(--container-border-color);
  background-color: var(--container-background-color);
  outline: rgb(13, 13, 13) solid 0.67px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 12px 0px;
  border-radius: 24px;
  position: relative;
  box-sizing: border-box;
  transition: background 0.3s ease;
}
